.content {
	border-top: 1px solid #e2e2e2;
}
.content .container {
	padding-top: 40px;
}
.info {
	padding-top: 50px;
	text-indent: 2em;
    line-height: 40px;
    letter-spacing: 0.5px;
    font-weight: 300;
}
