/* =======================================================
* 	Template Style
*	Edit this section
* ======================================================= */
a {
  color: #228896;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #228896;
  outline: none;
  text-decoration: none !important;
}

::-webkit-selection {
  color: #fff;
  background: #25b9f5;
}

::-moz-selection {
  color: #fff;
  background: #25b9f5;
}

::selection {
  color: #fff;
  background: #25b9f5;
}

.content {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.row {
	padding-top: 120px;
}

.album-entry {
  width: 100%;
  float: left;
  background: #fff;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
	.row {
		padding-top: 50px;
	}
}
.album-entry .album-img {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}
.album-entry .album-img img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.album-entry .desc h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
  line-height: auto;
}
.album-entry .desc h3 a {
  color: #333;
  text-decoration: none;
}
.album-entry .desc span {
  display: block;
  margin-bottom: 20px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.4) !important;
}
.album-entry .desc span small i {
  color: #e6e6e6;
}
.album-entry .desc .lead {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #666;
  font-size: 12px;
}
.album-entry:hover .album-img img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}



