@charset "utf-8";
* {margin: 0; padding: 0; outline: 0; list-style: none;}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	background: rgba(0, 0, 0, .8);
}
h1{
    color: #FFFFFF;
    text-shadow: 4px 4px 0px #2c2e38, 5px 5px 0px #5c5f72; 
    margin: 30px 0 0 50px; 
    position: absolute;
    display: block;
    font-size:50px;
	line-height:80px;
}
h2 { 
    background: rgba(0, 0, 0, .2);
}
h4 { 
    color:#FFFFFF;
}
.clear {
	clear: both;
}
.wrap {
	 width: 100%;
	 max-width: 1600px;
	 min-width: 960px;
	 z-index: 10;
	 position: relative;
	 margin: 0 auto;
	 padding: 0;
}
.inner {
	 background: rgba(124,124,124,.3);
	 float:left;
	 width: 960px;
 	 margin: 30px 0 0 200px;
 	 position: relative;
	 min-height: 400px;
	 padding: 30px 0;
	 box-shadow:2px 7px 8px #000000;
	 border-radius: 1%;
}
hr.embossed {
     background: url(../images/embossed.png) repeat-x; 
     height:1px;
	 border: none;  
}
.word {
     background: rgba(124,124,124,.3);
	 float:left;
	 width: 960px;
 	 margin: 30px 0 0 200px;
 	 position: relative;
	 min-height: 300px;
	 padding: 10px 0;
	 box-shadow:2px 7px 8px #000000;
	 border-radius: 1%;
}
     



/*
+----------------------------------------------------------------+
                              subMenu 
+----------------------------------------------------------------+
*/
.subMenu {
     height: 50px;
	 z-index: 1000;
	 width: 100%;
	 background: #000;
	 border-bottom: #666666 1px solid;  
}
.active {
	 background: #323131; 
}
.topnav {
     margin:0 0 0 180px;
}
.topnav a { 
     text-shadow:1px 1px 0px #5c5f72;
     display: block;
	 height: 35px;
	 width: 11%;
	 float: left;
	 margin: 0 0 0 20px;
	 text-decoration:none;
	 font-size: 18px;
	 padding: 15px 2% 0 2%;
	 text-align: center;	
	 color: #fff;
}
.topnav a span:first-child { 
    color:#ffffff;
    z-index: 2; 
    display: block; 
}
.topnav a span:last-child { 
    z-index:1; 
    display: block; 
    color:#CCCCCC; 
    font: 11px Georgia, serif; 
    opacity: 0; 
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; 
    -moz-transition: -moz-transform 0.3s, opacity 0.3s; 
    transition: transform 0.3s, opacity 0.3s; 
    -webkit-transform: translateY(-100%); 
    -moz-transform: translateY(-100%); 
    transform: translateY(-100%); 
    text-align: center; 
}
.topnav a:hover span:last-child, .topnav a:hover span:last-child { 
    opacity: 1; 
    -webkit-transform: translateY(0%); 
    -moz-transform: translateY(0%); 
    transform: translateY(0%); 
}
.en { 
    color:#CCCCCC; 
    font-size:12px; 
    z-index: 1; 
    display: block; 
}


/*
+----------------------------------------------------------------+
                              Sections 
+----------------------------------------------------------------+
*/
.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;
	height:520px;
}
.sTop {
	min-height: 130px;
	background: #fff;
	padding: 50px 0;
	height: 400px;	
}
.sTop, .s1, .s2, .s3, .s4, .s5{
	background: rgba(0, 0, 0, .7);
	color: #fff;	
}






/*
+----------------------------------------------------------------+
                               About 
+----------------------------------------------------------------+
*/
.texts { 
     width: 450px; 
	 height:400px; 
	 line-height:36px; 
	 margin: 3px 0 0 50px; 
	 padding:0 50px 0 0; 
	 float: left; 
	 font-size: 14px; 
	 color:#FFFFFF; 
	 border-right:2px solid #999999; 
}
.avatar { 
     float: right; 
	 margin:0 120px 35px 0; 
	 width: 180px; 
	 height: 180px; 
	 border-radius: 100%; 
	 overflow: hidden; 
	 border: #FFF 3px solid 
}
.avatar a { 
     display: block; 
	 padding-top: 140px; 
	 width: 210px; 
	 background: url(../images/photos.jpg) no-repeat; 
	 background-size: 180px 180px 
}
.avatar a span { 
     display: block; 
	 margin-top: 63px; 
	 padding-top: 8px; 
	 width: 180px; 
	 height: 55px; 
	 text-align: center; 
	 line-height: 20px; 
	 color: #fff; 
	 background: rgba(0, 0, 0, .5); 
	 -webkit-transition: margin-top .2s ease-in-out; 
	 -moz-transition: margin-top .2s ease-in-out; 
	 -o-transition: margin-top .2s ease-in-out; 
	 transition: margin-top .2s ease-in-out; 
}
.avatar a:hover span { 
     display: block; 
	 margin-top: 0; 
}
#avatar_bom{ 
     float: right; 
	 padding:0 50px 0 0; 
	 line-height:36px; 
	 font-size: 14px; 
	 width:300px;
}



/*
+----------------------------------------------------------------+
                               Skills 
+----------------------------------------------------------------+
*/
.skills_title {
	 width: 300px; 
	 height: 300px; 
	 margin: 0 0 0 50px; 
	 padding: 10px 0;
	 line-height:36px;
	 float:left;
}
.skills_title li {
	 height: 30px; 
	 margin: 20px 0;	 
}
.skills_title li a {
     color: #fff;
	 text-decoration: none;
	 font-size:22px;
}
.skills_title li a:hover{
	 text-shadow:2px 2px 0px #5c5f72;

}
.skills_con {
     display:block; 
	 width:500px; 
	 height:350px;
	 background:#0066FF;
	 margin: 30px 0 0 400px;
	 background: rgba(0, 0, 0, .2);
	 
}
.skills_con ul{
	 padding: 5px 0 0 50px;
	 
}
.skills_con ul li {
    margin: 20px 0; 
	font-size: 14px;
	color: #fff;
	line-height:36px;	 
}



/*
+----------------------------------------------------------------+
                               Portfolio
+----------------------------------------------------------------+
*/
#photo ul li{ 
     float:left; 
	 width: 230px; 
	 height:200px; 
	 margin:0 0 0 27px; 
	 padding:0 30px 0 20px;
}
#photo img{ 
     box-shadow:6px 7px 8px #000;
	 width: 240px; 
	 height: 180px;
}
#photo figure { 
     display: inline-block; 
	 width: 250px; 
	 height: 150px; 
	 position: relative; 
	 -webkit-animation: pageTop 6s ease 0.5s backwards; 
	 -moz-animation: pageTop 6s ease 0.5s backwards; 
	 -ms-animation: pageTop 6s ease 0.5s backwards; 
	 -o-animation: pageTop 6s ease 0.5s backwards; 
	 animation: pageTop 6s ease 0.5s backwards; 
	 float: left; 
}
#photo figcaption { 
     padding: 20px; 
	 position: absolute; 
	 top: 20%; 
	 left: 0; 
	 background: rgba(0,0,0,0.5); 
	 color: white; 
	 opacity: 0; 
	 -webkit-transition: opacity .75s ease-out; 
	 -moz-transition: opacity .75s ease-out; 
	 -o-transition: opacity .75s ease-out; 
	 transition: opacity .75s ease-out; 
}
#photo figure:hover figcaption{ 
     opacity: 1; 
}


/*
+----------------------------------------------------------------+
                               Contact
+----------------------------------------------------------------+
*/
.contact_title{ 
     float:left; 
	 margin:10px 0 0 0px; 
	 width:400px; 
	 height:400px; 
}
.contact_title h2{ 
     margin:10px 0 0 50px; 
	 padding:10px 0 10px 30px; 
	 font-size:22px; 
	 line-height:36px; 
	 text-shadow:1px 2px 5px #000;
}
.contact_title li{ 
     background: rgba(0, 0, 0, .2); 
	 margin:0 0 0 50px;
}
.contact_title p{ 
     margin:10px 0 0 20px;
     padding:5px 0 0 10px; 
	 font-size:14px; 
	 font-family:"Times New Roman", Times, serif; 
	 line-height:36px; 
	 text-shadow:1px 2px 5px #000;
}
.contact_image{ 
     float:left; 
	 width:450px; 
	 height:350px;
}
.contact_image img{ 
     margin:20px 0 0 50px; 
	 box-shadow:2px 7px 8px #000000;
}
#dituContent{ 
     position:absolute; 
	 margin:21px 0 0 450px; 
	 width:450px;
	 height:355px;
	 border:#ccc solid 2px;
}
