/*----------------------------------------------------------------+
                              通用样式 
+----------------------------------------------------------------*/
body {
        padding-top: 50px;
        color: #5a5a5a;
        font-family: Helvetica, Arial, Verdana, sans-serif;
}
li {
    list-style: none;
}

/* nav */

.navbar-nav>li>a {
    font-size: 18px;
}


/* footer */
footer {
    width: auto;
    line-height: 60px;
    margin-top: 2px;
    text-align: center;
    display: block;
    background-color: #222;
}
.pull-right {
    margin-right: 20px;
}
.pull-right a {
    color: #5a5a5a;
}
p {
    margin: 0;
}


/*----------------------------------------------------------------+
                              首页 
+----------------------------------------------------------------*/

/* slides */
.carousel .item {
    width: 100%;
    height: 500px;
}
.carousel .slide1 {
    background-color: #269396;
}
.carousel .slide2 {
    background-color: #a3a990;
}
.carousel .slide3 {
    background-color: #eaaba2;
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .0001) 100%);
}
.carousel-control.right {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .0001) 100%);
}
.carousel-caption {
    top: 110px;
}
@media only screen and (max-width: 1068px){
    .carousel-caption {
        top: 100px;
    }
}
@media only screen and (max-width: 735px){
    .carousel-caption {
        top: 60px;
    }
}
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}
@media only screen and (max-width: 1068px){
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.6;
}
}
@media only screen and (max-width: 735px){
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.6;
    }
}

/* proms */
.row {
    margin-left: 0;
    margin-right: 0;
}
.container {
	width: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.summary .col-md-3 {
    text-align: center;
	border-right: 2px solid #eee;
    border-top: 2px solid #eee;
	padding-left: 0px;
	padding-right: 0px;
    min-height: 200px;
}
@media only screen and (max-width: 1068px){
    .medium {
        width: 50%;
        float: left;
    }
}
@media only screen and (max-width: 735px){
    .small {
        width: 100%;
    }
}



/*----------------------------------------------------------------+
                              关于我
+----------------------------------------------------------------*/

.page-about .col-md-12 {
    padding: 50px 20px;
}
.page-about .col-md-6 {
    padding-left: 0px;
}
@media only screen and (max-width: 1068px) {
    .page-about .col-md-6 {
        padding-left: 20px;
        padding-top: 30px;
    }
}
@media only screen and (max-width: 735px) {
    .page-about .col-md-6 {
        padding-left: 0;
        padding-top: 30px;
    }
}
.page-about .basicifo {
    background-color: #269396; 
    width: 100%; 
    height: 400px; 
}
.page-about .avatar { 
     width: 180px; 
     height: 180px;
     margin: 0 auto; 
     border-radius: 50%; 
     overflow: hidden; 
     border: #FFF 3px solid;
     background: url("../images/about/photos.jpg") no-repeat;
}
.page-about .avatar .title {
     line-height: 45px;
     text-align: center;
     display: none;
     color: #fff;
     margin-top: 130px;
     background-color: rgba(0,0,0, .5);
}
.page-about a {
     text-decoration: none;
}
.page-about a:hover .title {
     display: block;
}

.page-about .texts {
    margin: 20px auto;
    text-align: center;
    height: 100px;
    width: 70%;
    float: none;
    color: #eee;
}
@media only screen and (max-width: 1068px) {
    .page-about .texts {
        width: 100%;
    }
}

@media only screen and (max-width: 735px) {
    .page-about .texts {
        width: 100%;
    }
}
.page-about h5 {
    font-size: 14px;
    line-height: 30px;
}


.page-about .skill {
    background-color: #ccc;
}
.page-about .nav-tabs {
    border-bottom: 1px solid #fff;
}
.page-about .tab-content>.tab-pane {
    margin-top: 30px;
}
.page-about .tab-content p {
    line-height: 30px;
    color: #333;
}
.page-about .nav a {
    color: #333;
}
.page-about .nav a:hover {
    color: #555;
}

.page-about .contact {
    width: 100%;
    height: auto;
    background-color: #269396;
    color: #eee;
    border-bottom: 2px solid #eee;
}
.page-about .contact p {
    line-height: 30px;
}


/*----------------------------------------------------------------+
                              作品展示 
+----------------------------------------------------------------*/
.page-opus .col-md-12 {
    background-color: #269396;
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid #eee;
}
.page-opus .poem {
    text-align: center;
    padding-top: 50px;
    color: #eee;
}
.page-opus .poem blockquote {
    border-left: 0;	
}
